luma.oled==3.12; sys_platform == 'linux'
RPi.GPIO==0.7.1; sys_platform == 'linux'
smbus2==0.4.2; sys_platform == 'linux'
Flask==2.3.2
Flask-SocketIO==5.3.4
progressbar2==4.2.0
simple-websocket==0.10.1
python-socketio==5.8.0
websocket-client==1.6.1
werkzeug==2.3.6
