[Unit]
Description=PieFlasher chip flashing service
After=syslog.target network.target

[Service]
Type=simple
User=sean
WorkingDirectory=/home/sean
ExecStart=/usr/bin/python3 -u /home/sean/PieFlasher/SW/worker.py

[Install]
WantedBy=multi-user.target
