<!DOCTYPE html>
<html lang="en">

{% macro printExists(variable) %}
{% if variable is defined %}
{{ variable }}
{% endif %}
{% endmacro %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - PieFlasher</title>
    <link rel="icon" sizes="192x192" href="/images/android-chrome-192x192.png">
    <style>
        .PieFlasher {
            font-size: 2em;
            color: crimson;
        }

        .BigRed {
            font-size: 3em;
            color: crimson;
        }

        .navbar {
            height: 80px;
            position: relative;
        }

        nav a {
            color: #1d36d2;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <img src="/images/PieSlice.png" height="60" />
        <span class="PieFlasher">PieFlasher</span>
        <a href="{{ url_for('status') }}">Status</a>
        <a href="{{ url_for('logs') }}">Logs</a>
        <a href="{{ url_for('upload') }}">Upload</a>
        <a href="{{ url_for('configure') }}">Configure</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>