{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Flasher Configuration {% endblock %}</h1>
<table border="1" id="filesList">
    <tr>
        <th onclick="sortTable('filesList',0)">Filename</th>
        <th onclick="sortTable('filesList',1)">Description</th>
        <th onclick="sortTable('filesList',2)">Size</th>
        <th onclick="sortTable('filesList',3)" width="100">Flash Target Voltage</th>
        <th onclick="sortTable('filesList',4)" width="100">Flash 3.3V</th>
        <th onclick="sortTable('filesList',5)" width="100">Flash 1.8V</th>
        <th onclick="sortTable('filesList',6)" width="100">Flash Other</th>
        <th onclick="sortTable('filesList',7)"> Uploaded</th>
    </tr>
    {% for file in files %}
    <tr>
        <td>
            {{ file["filename"] }}
        </td>
        <td>
            {{ printExists(file["desc"]) }}
        </td>
        <td>
            {{ printExists(file["size"]) }}
        </td>
        <td>
            <button type="Button" onclick="{{ " selectFlash('"|safe+ file["filename"]+"',"|safe+file["voltage"]+")"
                }}">Flash
                {{ file["voltage"] }}V</button>
        </td>
        {% if file["filename"] == "erase" %}
        <td>
            <button type="Button" onclick="{{ " selectFlash('"|safe+ file["filename"]+"',"|safe+"3.3)" }}">Erase
                3.3V</button>
        </td>
        <td>
            <button type="Button" onclick="{{ " selectFlash('"|safe+ file["filename"]+"',"|safe+"1.8)" }}">Erase
                1.8V</button>
        </td>
        {% else %}
        <td>
            <button type="Button" onclick="{{ " selectFlash('"|safe+ file["filename"]+"',"|safe+"3.3)" }}">Flash
                3.3V</button>
        </td>
        <td>
            <button type="Button" onclick="{{ " selectFlash('"|safe+ file["filename"]+"',"|safe+"1.8)" }}">Flash
                1.8V</button>
        </td>
        {% endif %}
        <td>

            <input type="text" placeholder="1.8" size="10" id="otherVoltage{{ loop.index }}" />
            <button type="Button" onclick="
            voltage = getElementById('otherVoltage{{ loop.index }}').value; {{ " selectFlash('" |safe+
                file["filename"]+"',voltage);"|safe }}">Flash
                Other</button>
        </td>
        <td>
            {{ file["uploaded"] }}
        </td>
    </tr>
    {% endfor %}
</table>

<form action="/flash/" method="post" id="flashForm">
    <input type="hidden" name="filename" id="flashFilename">
    <input type="hidden" name="voltage" id="flashVoltage">
</form>
<script>
    function selectFlash(file, voltage) {
        voltage = String(voltage)
        if (file.length && voltage.length > 0) {
            let flashForm = document.getElementById("flashForm");
            let flashFilename = document.getElementById("flashFilename");
            let flashVoltage = document.getElementById("flashVoltage");

            flashFilename.value = file;
            flashVoltage.value = voltage;

            flashForm.submit();
        }
    }
</script>
{% endblock %}