{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Flasher Status {% endblock %}</h1>
<table border="1">
    <tr>
        <th>Hostname</th>
        <th>IP</th>
        <th>LastSeen</th>
        <th>Status</th>
        <th>File</th>
        <th>Progress</th>
        <th>Voltage</th>
        <th>Target Voltage</th>
    </tr>
    {% for flasher in flashers %}
    <tr>
        <td>
            {{ flasher["Hostname"] }}
        </td>
        <td>
            {{ flasher["IP"] }}
        </td>
        <td>
            {{ flasher["LastSeen"] }}
        </td>
        <td>
            {{ printExists(flasher["RecentStatus"]["Status"]) }}
        </td>
        <td>
            {{ printExists(flasher["RecentStatus"]["Filename"]) }}
        </td>
        <td>
            {{ printExists(flasher["RecentStatus"]["Progress"]) }}%
        </td>
        <td>
            {{ printExists(flasher["RecentStatus"]["Voltage"]) }}V
        </td>
        <td>
            {{ printExists(flasher["RecentStatus"]["TargetVoltage"]) }}V
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}